*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height:1.6;
}

header{
    background:#333;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    padding:40px;
}

#about img{
    width:200px;
    border-radius:50%;
    margin:20px 0;
}

ul{
    list-style:square;
    margin-left:20px;
}

.project{
    margin:20px 0;
}

.project img{
    width:300px;
    border-radius:10px;
}

a{
    text-decoration:none;
    color:blue;
    font-weight:bold;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
